Scrapy==1.5.1
scrapy-splash==0.7.2
elasticsearch==6.3.1
pyecharts
pyecharts-snapshot==0.1.9
fake-useragent==0.1.11
selenium==3.141.0
requests
PyExecJS==1.5.1
copyheaders==0.0.1
redis
echarts-china-provinces-pypkg
echarts-countries-pypkg
baidu-aip==2.2.10.0